body {
    margin: 0%;
    padding: 0%;
    background: white;

}

.buscar {
    position: absolute;
    padding: 5px;
}

.buscar input {
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}


.box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
   
}

.slide-img {
    height: 370px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


.detail-box {
    width: 20%;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 150px;
}

.type span {
    color: rgba(26, 26, 26, 0.5);
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}


.box-2 {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
   
}

.cuadro-2 {
    height: 370px;
    position: relative;
}

.cuadro-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


.detail-cuadro-2 {
    width: 20%;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.type-2 {
    display: flex;
    flex-direction: column;
}

.type-2 a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 150px;
}

.type-2 span {
    color: rgba(26, 26, 26, 0.5);
}

.price-2 {
    color: #333333;
    font-weight: 550;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}



.box-3 {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
   
}

.cuadro-3 {
    height: 300px;
    position: relative;
}

.cuadro-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


.detail-cuadro-3 {
    width: 20%;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.type-3 {
    display: flex;
    flex-direction: column;
}

.type-3 a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 150px;
}

.type-3 span {
    color: rgba(26, 26, 26, 0.5);
}

.price-3 {
    color: #333333;
    font-weight: 550;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}



.box-4 {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
   
}

.cuadro-4 {
    height: 350px;
    position: relative;
}

.cuadro-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


.detail-cuadro-4 {
    width: 20%;
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.type-4 {
    display: flex;
    flex-direction: column;
}

.type-4 a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 170px;
}

.type-4 span {
    color: rgba(26, 26, 26, 0.5);
}

.price-4 {
    color: #333333;
    font-weight: 550;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}








#container {

    width: 1100px;
    margin: 0px auto;


}

header {


    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: black;
    border-bottom: 5px dashed black;
}

nav {
    background: rgb(250, 189, 204);
    height: 55px;
    border-bottom: 1px solid black;

}


nav ul li  {
   
    float:left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    padding-right: 100px;
}

.clearfix {
    clear: both;
}


#content {

    float: left;
    width: 100%;
}

